{% extends "layout.html" %}

{% block content %}
<div class="container output-box">
    <h2>Search Results</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.keyword.label }} {{ form.keyword() }}
        {{ form.search_type.label }} {{ form.search_type() }}
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for result in results %}
            <div style="margin-bottom: 15px;">
                <li>{{ result.search_term }}</li>
                <a href="{{ url_for('access_page', alpha_id=result.alpha_id) }}" target="_blank">
                    {{ result.url }}
                </a>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
