{% extends "layout.html" %}

{% block content %}
    <div class="container output-box">
<h2>Search Results</h2>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.keyword.label }} {{ form.keyword() }}
    {{ form.search_type.label }} {{ form.search_type() }}
    <button type="submit">Search</button>
</form>

<ul>
    {% for result in results %}
        <li>
            {{ result.search_term}}:
        </li>

            <a href="{{ result.url }}" target="_blank">{{ result.url }}</a>

    {% endfor %}
</ul>
    </div>
{% endblock %}
